<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from amplifythemes.com/preview/cartzee/index5.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Feb 2019 20:54:23 GMT -->
<head>
  <title>fuzzyumbrella</title>
</head>

<body>
<div class="clearfix"></div>
<!-- Start Seller Tabs -->
<section style="padding-left: 15%" class="section_padding pb-0">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-xs-12 p-0">
        <div class="carousel_slider pb-5">
          <div class="col-12">
            <div class="category_carousel owl-carousel owl-template owl-loaded owl-drag">



              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-5775px, 0px, 0px); transition: all 4s ease 0s; width: 12375px;"><div class="owl-item cloned" style="width: 825px;"><div class="item">
                <div class="mens_bag">
                  <div class="bag_details text-left">
                    <h1>men’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item cloned" style="width: 825px;"><div class="item">
                <div class="womens_bag">
                  <div class="bag_details text-center">
                    <h1>Women’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item cloned" style="width: 825px;"><div class="item">
                <div class="womens_bag">
                  <div class="bag_details text-center">
                    <h1>Women’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item cloned" style="width: 825px;"><div class="item">
                <div class="mens_bag">
                  <div class="bag_details text-left">
                    <h1>men’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 825px;"><div class="item">
                <div class="womens_bag">
                  <div class="bag_details text-center">
                    <h1>Women’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 825px;"><div class="item">
                <div class="mens_bag">
                  <div class="bag_details text-left">
                    <h1>men’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 825px;"><div class="item">
                <div class="womens_bag">
                  <div class="bag_details text-center">
                    <h1>Women’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item cloned active" style="width: 825px;"><div class="item">
                <div class="mens_bag">
                  <div class="bag_details text-left">
                    <h1>men’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item cloned" style="width: 825px;"><div class="item">
                <div class="womens_bag">
                  <div class="bag_details text-center">
                    <h1>Women’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item cloned" style="width: 825px;"><div class="item">
                <div class="womens_bag">
                  <div class="bag_details text-center">
                    <h1>Women’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div><div class="owl-item cloned" style="width: 825px;"><div class="item">
                <div class="mens_bag">
                  <div class="bag_details text-left">
                    <h1>men’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
          </div>
        </div>
        <div class="sidebar_products pb-5">
          <div class="border_outer border_0">
            <div class="container">
              <div class="row">
                <div class="title col-md-12">
                  <h1>Collections</h1>

                </div>
                <div class="col-md-8">
                  <div class="shop-item shop1">
                    <div class="product_info">
                      <h1>Design <br> Collections</h1>

                    </div>
                  </div>
                  <div class="shop-item shop3">
                    <div class="product_info white left">
                      <h1>Jeans <br> Collections</h1>
                      <p>2019</p>
                    </div>
                  </div>
                  <div class="shop-item shop5">
                    <div class="inner_content">
                      <div class="product_info blue">
                        <h1>Women's</h1>
                        <p>Shoes</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="shop-item shop2">
                    <div class="product_info blue center">
                      <h1>Women's</h1>
                      <p>Shirts</p>
                    </div>
                  </div>
                  <div class="shop-item shop4">
                    <div class="product_info white center">
                      <h1>Bags</h1>
                      <p>New Collections</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<!-- Start Shop Banner -->
<div class="section_padding our_brands">
  <div class="container">
    <div class="brand_carousel owl-carousel owl-template">
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand1.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand2.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand3.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand4.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand5.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand6.png" alt="img"></a>
      </div>
    </div>
  </div>
</div>
<!-- End Shop Banner -->
</body>


<!-- Mirrored from amplifythemes.com/preview/cartzee/index5.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Feb 2019 20:54:24 GMT -->
</html>