<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from amplifythemes.com/preview/cartzee/index5.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Feb 2019 20:54:23 GMT -->
<head>
  <title>Fustany</title>
</head>

<body>
<div class="clearfix"></div>
<!-- Start Seller Tabs -->
<section class="section_padding pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="sidebar_widget">
          <div class="widget_title">
            <h4>Categories</h4>
          </div>
          <ul class="list-unstyled components">
            <li><a href="#">Men's</a></li>
            <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">women's</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <a href="#">type 1</a>
                </li>
                <li>
                  <a href="#">type 2</a>
                </li>
                <li>
                  <a href="#">type 3</a>
                </li>
              </ul>
            </li>
            <li><a href="#">Kids</a></li>
            <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Brands</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                  <a href="#">Brand 1</a>
                </li>
                <li>
                  <a href="#">Brand 2</a>
                </li>
                <li>
                  <a href="#">Brand 3</a>
                </li>
              </ul>
            </li>
            <li><a href="#">Best Seller</a></li>
            <li><a href="#">Gifts</a></li>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Lingerie Set</a></li>
            <li><a href="#">Bodies</a></li>
          </ul>
        </div>
        <div class="sidebar_widget">
          <div class="widget_title">
            <h4>hot deals</h4>
          </div>
          <div class="sidebar_deal">
            <div class="product_outer">
              <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/10.jpg" alt="img"></a>
            </div>
            <div class="product_info2">
              <p>Reflection Knit Dress in Khaki </p>
              <p class="price">$43.23</p>
            </div>
            <div class="magazi-time-counter" id="clockdiv">
              <ul>
                <li>
                  <h2 class="days">166</h2>
                  <span>Days</span>
                </li>
                <li>
                  <h2 class="hours">02</h2>
                  <span>Hours</span>
                </li>
                <li>
                  <h2 class="minutes">56</h2>
                  <span>Minutes</span>
                </li>
                <li>
                  <h2 class="seconds">21</h2>
                  <span>Seconds</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="sidebar_widget">
          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/sidebar_img.jpg" alt="img"></a>
        </div>
        <div class="sidebar_widget">
          <div class="widget_title">
            <h4>Best seller</h4>
          </div>
          <div class="seller_widget">
            <div class="post">
              <div class="seller_img">
                <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/7.jpg" alt="img"></a>
              </div>
              <div class="seller_details">
                <h3>Reflection Knit Dress in Khaki </h3>
                <p class="price">$43.23</p>
              </div>
            </div>
            <div class="post">
              <div class="seller_img">
                <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/8.jpg" alt="img"></a>
              </div>
              <div class="seller_details">
                <h3>Sk8-Hi Reissue 2 Tone </h3>
                <p class="price"><span>$56.06</span>$43.23</p>
              </div>
            </div>
            <div class="post">
              <div class="seller_img">
                <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/16.jpg" alt="img"></a>
              </div>
              <div class="seller_details">
                <h3>Sachi Silk Maxi dress</h3>
                <p class="price">$43.23</p>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar_widget">
          <div class="widget_title">
            <h4>Blogs</h4>
          </div>
          <div class="sidebar_blog">
            <div class="blog_img">
              <img src="http://amplifythemes.com/preview/cartzee/assets/images/blog/blog1.png" alt="img">
              <div class="date-box">
                <h2>13 Aug</h2>
              </div>
              <div class="blog-details">
                <h5>The Best of Beauty From Fall Couture 2019</h5>
                <p>Fashion is not something that exists in dresses only. Fashion is in the sky, in the street, fashion has to do with ideas, the way we live, what is happening.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-xs-12 p-0">
        <div class="carousel_slider pb-5">
          <div class="col-12">
            <div class="category_carousel owl-carousel owl-template">
              <div class="item">
                <div class="womens_bag">
                  <div class="bag_details text-center">
                    <h1>Women’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="mens_bag">
                  <div class="bag_details text-left">
                    <h1>men’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="womens_bag">
                  <div class="bag_details text-center">
                    <h1>Women’s</h1>
                    <h2>Bag</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar_products pb-5">
          <div class="border_outer border_0">
            <div class="container">
              <div class="row">
                <div class="title col-md-12">
                  <h1>The Shop</h1>
                  <span><a href="#">See All Collections <i class="fas fa-long-arrow-alt-right"></i></a></span>
                </div>
                <div class="col-md-8">
                  <div class="shop-item shop1">
                    <div class="product_info">
                      <h1>Design <br> Collections</h1>
                      <a href="#" class="button pink">Readmore</a>
                    </div>
                  </div>
                  <div class="shop-item shop3">
                    <div class="product_info white left">
                      <h1>Jeans <br> Collections</h1>
                      <p>2019</p>
                    </div>
                  </div>
                  <div class="shop-item shop5">
                    <div class="inner_content">
                      <div class="product_info blue">
                        <h1>Women's</h1>
                        <p>Shoes</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="shop-item shop2">
                    <div class="product_info blue center">
                      <h1>Women's</h1>
                      <p>Shirts</p>
                    </div>
                  </div>
                  <div class="shop-item shop4">
                    <div class="product_info white center">
                      <h1>Bags</h1>
                      <p>New Collections</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="new_arrivals products_section products-2 pb-5">
          <div class="border_outer right border_0">
            <div class="col-12">
              <div class="title col-md-12 p-0">
                <h1>new Arrivals</h1>
              </div>
              <div class="products_carousel owl-carousel owl-template">
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="product_outer">
                        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/1.jpg" alt="img"></a>
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$43.23</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/2.jpg" alt="img"></a>
                        <div class="sale">
                          <p>sale</p>
                        </div>
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price"><span>$56.06</span>$45.00</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/3.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$35.00</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/8.jpg" alt="img">
                        <div class="new">
                          <p>new</p>
                        </div>
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$43.23</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/7.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price"><span>$56.06</span>$45.00</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/6.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$35.00</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/1.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$43.23</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/2.jpg" alt="img">
                        <div class="sale">
                          <p>sale</p>
                        </div>
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price"><span>$56.06</span>$45.00</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/3.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$35.00</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/8.jpg" alt="img">
                        <div class="new">
                          <p>new</p>
                        </div>
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$43.23</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/7.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price"><span>$56.06</span>$45.00</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/6.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$35.00</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/1.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$43.23</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/2.jpg" alt="img">
                        <div class="sale">
                          <p>sale</p>
                        </div>
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price"><span>$56.06</span>$45.00</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/3.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$35.00</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/8.jpg" alt="img">
                        <div class="new">
                          <p>new</p>
                        </div>
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$43.23</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/7.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price"><span>$56.06</span>$45.00</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product_outer">
                        <img src="http://amplifythemes.com/preview/cartzee/assets/images/products/6.jpg" alt="img">
                        <div class="overlay-content">
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                          <a href="#" class="link_button"><i class="fas fa-shopping-bag"></i></a>
                          <a href="#" class="link_button"><i class="far fa-clone"></i></a>
                          <a href="#" class="link_button"><i class="fas fa-search-plus"></i></a>
                        </div>
                      </div>
                      <div class="product_info2">
                        <p>Short Sweater in Spruce </p>
                        <p class="price">$35.00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="seller_tabs pb-0 seller_blog">
          <div class="container">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <h1>featured</h1>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="womens-tab" data-toggle="tab" href="#womens" role="tab" aria-controls="womens" aria-selected="true">Womens</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="mens-tab" data-toggle="tab" href="#mens" role="tab" aria-controls="mens" aria-selected="false">Mens</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="kids-tab" data-toggle="tab" href="#kids" role="tab" aria-controls="kids" aria-selected="false">Kids</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="womens" role="tabpanel" aria-labelledby="womens-tab">
                <div class="row">
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/7.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Short Sweater in Spruce</p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/6.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Overlay Wide Pants in Mauve</p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/17.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Fact and Fiction Jumpsuit </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/16.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details ">
                          <p>Liya Hi-Lo Hem in Horizon </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/3.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Amelia Jumper in Sand </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/6.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Reflection Knit Dress in Khaki </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="mens" role="tabpanel" aria-labelledby="mens-tab">
                <div class="row">
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/9.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="product_details">
                          <p>Short Sweater in Spruce</p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/10.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Overlay Wide Pants in Mauve</p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/11.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Fact and Fiction Jumpsuit </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6 ">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/12.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Liya Hi-Lo Hem in Horizon </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/13.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Amelia Jumper in Sand </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/14.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Reflection Knit Dress in Khaki </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="kids" role="tabpanel" aria-labelledby="kids-tab">
                <div class="row">
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/6.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Short Sweater in Spruce</p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/7.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Overlay Wide Pants in Mauve</p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/8.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Fact and Fiction Jumpsuit </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/9.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Liya Hi-Lo Hem in Horizon </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/10.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Amelia Jumper in Sand </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-7">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="product_img">
                          <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/products/11.jpg"
                                           alt="img"></a>
                        </div>
                      </div>
                      <div class="col-md-6 p-0">
                        <div class="product_details">
                          <p>Reflection Knit Dress in Khaki </p>
                          <p class="price">$43.23</p>
                          <ul class="rating p-0">
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                            <li><a href="#"><i class="far fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Seller Tabs -->
<!-- Start Shop Banner -->
<div class="section_padding our_brands">
  <div class="container">
    <div class="brand_carousel owl-carousel owl-template">
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand1.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand2.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand3.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand4.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand5.png" alt="img"></a>
      </div>
      <div class="item">
        <a href="#"><img src="http://amplifythemes.com/preview/cartzee/assets/images/brands/brand6.png" alt="img"></a>
      </div>
    </div>
  </div>
</div>
<!-- End Shop Banner -->
</body>


<!-- Mirrored from amplifythemes.com/preview/cartzee/index5.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Feb 2019 20:54:24 GMT -->
</html>